<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
</head>
<body>
	<h1>Main Page</h1>
	<h2 th:if="${session.loginid == null}">
	   <a href="/login">Login</a></h2>
	<h2 th:unless="${session.loginid == null}">
	   <a href="/logout"><span th:text="${session.loginid}"></span>
		Logout</a></h2>
	<h2><a href="/kakao">KAKATEST</a></h2>
	<h2><a href="/papago">Papago Test</a></h2>
	<h2><a href="/go">GO</a></h2>
	<h2><a href="/websocket">WebSocket</a></h2>
</body>
</html>